<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.gamebox.mapper.GbCategoryTypeMapper">
    
    <resultMap type="com.ruoyi.gamebox.domain.GbCategoryType" id="GbCategoryTypeResult">
        <result property="id"    column="id"    />
        <result property="value"    column="value"    />
        <result property="label"    column="label"    />
        <result property="tagType"    column="tag_type"    />
        <result property="description"    column="description"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="status"    column="status"    />
        <result property="isSystem"    column="is_system"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectGbCategoryTypeVo">
        select id, value, label, tag_type, description, sort_order, status, is_system, create_by, create_time, update_by, update_time, remark from gb_category_types
    </sql>

    <select id="selectGbCategoryTypeList" parameterType="com.ruoyi.gamebox.domain.GbCategoryType" resultMap="GbCategoryTypeResult">
        <include refid="selectGbCategoryTypeVo"/>
        <where>  
            <if test="value != null  and value != ''"> and value = #{value}</if>
            <if test="label != null  and label != ''"> and label like concat('%', #{label}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
        order by sort_order asc, id asc
    </select>
    
    <select id="selectGbCategoryTypeById" parameterType="Long" resultMap="GbCategoryTypeResult">
        <include refid="selectGbCategoryTypeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertGbCategoryType" parameterType="com.ruoyi.gamebox.domain.GbCategoryType" useGeneratedKeys="true" keyProperty="id">
        insert into gb_category_types
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="value != null and value != ''">value,</if>
            <if test="label != null and label != ''">label,</if>
            <if test="tagType != null">tag_type,</if>
            <if test="description != null">description,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="status != null">status,</if>
            <if test="isSystem != null">is_system,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="value != null and value != ''">#{value},</if>
            <if test="label != null and label != ''">#{label},</if>
            <if test="tagType != null">#{tagType},</if>
            <if test="description != null">#{description},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="status != null">#{status},</if>
            <if test="isSystem != null">#{isSystem},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateGbCategoryType" parameterType="com.ruoyi.gamebox.domain.GbCategoryType">
        update gb_category_types
        <trim prefix="SET" suffixOverrides=",">
            <if test="value != null and value != ''">value = #{value},</if>
            <if test="label != null and label != ''">label = #{label},</if>
            <if test="tagType != null">tag_type = #{tagType},</if>
            <if test="description != null">description = #{description},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="status != null">status = #{status},</if>
            <if test="isSystem != null">is_system = #{isSystem},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGbCategoryTypeById" parameterType="Long">
        delete from gb_category_types where id = #{id}
    </delete>

    <delete id="deleteGbCategoryTypeByIds" parameterType="String">
        delete from gb_category_types where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
