<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.gamebox.mapper.GbMasterArticleHomepageBindingMapper">
    
    <resultMap type="GbMasterArticleHomepageBinding" id="GbMasterArticleHomepageBindingResult">
        <result property="id"    column="id"    />
        <result property="masterArticleId"    column="master_article_id"    />
        <result property="gameId"    column="game_id"    />
        <result property="gameBoxId"    column="game_box_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="title"    column="title"    />
    </resultMap>

    <sql id="selectGbMasterArticleHomepageBindingVo">
        select id, master_article_id, game_id, game_box_id, create_time, update_time, create_by, update_by 
        from gb_master_article_homepage_binding
    </sql>

    <select id="selectGbMasterArticleHomepageBindingById" parameterType="Long" resultMap="GbMasterArticleHomepageBindingResult">
        <include refid="selectGbMasterArticleHomepageBindingVo"/>
        where id = #{id}
    </select>

    <select id="selectByMasterArticleId" parameterType="Long" resultMap="GbMasterArticleHomepageBindingResult">
        <include refid="selectGbMasterArticleHomepageBindingVo"/>
        where master_article_id = #{masterArticleId}
    </select>

    <select id="selectByGameId" parameterType="Long" resultMap="GbMasterArticleHomepageBindingResult">
        <include refid="selectGbMasterArticleHomepageBindingVo"/>
        where game_id = #{gameId}
    </select>

    <select id="selectByGameBoxId" parameterType="Long" resultMap="GbMasterArticleHomepageBindingResult">
        <include refid="selectGbMasterArticleHomepageBindingVo"/>
        where game_box_id = #{gameBoxId}
    </select>
        
    <insert id="insertGbMasterArticleHomepageBinding" parameterType="GbMasterArticleHomepageBinding" useGeneratedKeys="true" keyProperty="id">
        insert into gb_master_article_homepage_binding
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="masterArticleId != null">master_article_id,</if>
            <if test="gameId != null">game_id,</if>
            <if test="gameBoxId != null">game_box_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="masterArticleId != null">#{masterArticleId},</if>
            <if test="gameId != null">#{gameId},</if>
            <if test="gameBoxId != null">#{gameBoxId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateGbMasterArticleHomepageBinding" parameterType="GbMasterArticleHomepageBinding">
        update gb_master_article_homepage_binding
        <trim prefix="SET" suffixOverrides=",">
            <if test="masterArticleId != null">master_article_id = #{masterArticleId},</if>
            <if test="gameId != null">game_id = #{gameId},</if>
            <if test="gameBoxId != null">game_box_id = #{gameBoxId},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGbMasterArticleHomepageBindingById" parameterType="Long">
        delete from gb_master_article_homepage_binding where id = #{id}
    </delete>

    <delete id="deleteByMasterArticleId" parameterType="Long">
        delete from gb_master_article_homepage_binding where master_article_id = #{masterArticleId}
    </delete>

    <delete id="deleteByGameId" parameterType="Long">
        delete from gb_master_article_homepage_binding where game_id = #{gameId}
    </delete>

    <delete id="deleteByGameBoxId" parameterType="Long">
        delete from gb_master_article_homepage_binding where game_box_id = #{gameBoxId}
    </delete>

    <select id="selectByGameIdWithTitle" parameterType="Long" resultMap="GbMasterArticleHomepageBindingResult">
        select b.id, b.master_article_id, b.game_id, b.game_box_id, 
               b.create_time, b.update_time, b.create_by, b.update_by,
               a.title
        from gb_master_article_homepage_binding b
        left join gb_master_articles m on b.master_article_id = m.id
        left join gb_sites s on m.site_id = s.id
        left join gb_articles a on a.master_article_id = m.id and a.locale = s.default_locale and a.del_flag = '0'
        where b.game_id = #{gameId}
    </select>

    <select id="selectByGameBoxIdWithTitle" parameterType="Long" resultMap="GbMasterArticleHomepageBindingResult">
        select b.id, b.master_article_id, b.game_id, b.game_box_id, 
               b.create_time, b.update_time, b.create_by, b.update_by,
               a.title
        from gb_master_article_homepage_binding b
        left join gb_master_articles m on b.master_article_id = m.id
        left join gb_sites s on m.site_id = s.id
        left join gb_articles a on a.master_article_id = m.id and a.locale = s.default_locale and a.del_flag = '0'
        where b.game_box_id = #{gameBoxId}
    </select>

</mapper>
