<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.gamebox.mapper.GbProxyConfigMapper">

    <resultMap type="GbProxyConfig" id="GbProxyConfigResult">
        <result property="id"              column="id"               />
        <result property="featureKey"      column="feature_key"      />
        <result property="featureName"     column="feature_name"     />
        <result property="featureGroup"    column="feature_group"    />
        <result property="featureDesc"     column="feature_desc"     />
        <result property="proxyApplicable" column="proxy_applicable" />
        <result property="proxyWarning"    column="proxy_warning"    />
        <result property="proxyEnabled"    column="proxy_enabled"    />
        <result property="proxyType"       column="proxy_type"       />
        <result property="proxyHost"       column="proxy_host"       />
        <result property="proxyPort"       column="proxy_port"       />
        <result property="proxyUsername"   column="proxy_username"   />
        <result property="proxyPassword"   column="proxy_password"   />
        <result property="sortOrder"       column="sort_order"       />
        <result property="createBy"        column="create_by"        />
        <result property="createTime"      column="create_time"      />
        <result property="updateBy"        column="update_by"        />
        <result property="updateTime"      column="update_time"      />
        <result property="remark"          column="remark"           />
    </resultMap>

    <sql id="selectGbProxyConfigVo">
        select id, feature_key, feature_name, feature_group, feature_desc,
               proxy_applicable, proxy_warning, proxy_enabled, proxy_type,
               proxy_host, proxy_port, proxy_username, proxy_password,
               sort_order, create_by, create_time, update_by, update_time, remark
        from gb_proxy_config
    </sql>

    <select id="selectGbProxyConfigById" parameterType="Long" resultMap="GbProxyConfigResult">
        <include refid="selectGbProxyConfigVo"/>
        where id = #{id}
    </select>

    <select id="selectGbProxyConfigByFeatureKey" parameterType="String" resultMap="GbProxyConfigResult">
        <include refid="selectGbProxyConfigVo"/>
        where feature_key = #{featureKey}
    </select>

    <select id="selectGbProxyConfigList" parameterType="GbProxyConfig" resultMap="GbProxyConfigResult">
        <include refid="selectGbProxyConfigVo"/>
        <where>
            <if test="featureGroup != null and featureGroup != ''">
                and feature_group = #{featureGroup}
            </if>
            <if test="proxyApplicable != null">
                and proxy_applicable = #{proxyApplicable}
            </if>
        </where>
        order by sort_order asc, id asc
    </select>

    <update id="updateGbProxyConfig" parameterType="GbProxyConfig">
        update gb_proxy_config
        <set>
            <if test="proxyEnabled != null">proxy_enabled = #{proxyEnabled},</if>
            <if test="proxyType != null">proxy_type = #{proxyType},</if>
            <if test="proxyHost != null">proxy_host = #{proxyHost},</if>
            <if test="proxyPort != null">proxy_port = #{proxyPort},</if>
            proxy_username = #{proxyUsername},
            proxy_password = #{proxyPassword},
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = #{updateTime}
        </set>
        where id = #{id}
    </update>

</mapper>
