<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.gamebox.mapper.GbTranslationMapper">
    
    <resultMap type="GbTranslation" id="GbTranslationResult">
        <result property="id"           column="id"           />
        <result property="entityType"   column="entity_type"  />
        <result property="entityId"     column="entity_id"    />
        <result property="locale"       column="locale"       />
        <result property="fieldName"    column="field_name"   />
        <result property="fieldValue"   column="field_value"  />
        <result property="createBy"     column="create_by"    />
        <result property="createTime"   column="create_time"  />
        <result property="updateBy"     column="update_by"    />
        <result property="updateTime"   column="update_time"  />
    </resultMap>

    <sql id="selectTranslationVo">
        select id, entity_type, entity_id, locale, field_name, field_value, create_by, create_time, update_by, update_time from gb_translations
    </sql>

    <select id="selectTranslationList" parameterType="GbTranslation" resultMap="GbTranslationResult">
        <include refid="selectTranslationVo"/>
        <where>  
            <if test="entityType != null  and entityType != ''"> and entity_type = #{entityType}</if>
            <if test="entityId != null "> and entity_id = #{entityId}</if>
            <if test="locale != null  and locale != ''"> and locale = #{locale}</if>
            <if test="fieldName != null  and fieldName != ''"> and field_name = #{fieldName}</if>
            <if test="fieldValue != null  and fieldValue != ''"> and field_value = #{fieldValue}</if>
        </where>
    </select>
    
    <select id="selectTranslation" parameterType="GbTranslation" resultMap="GbTranslationResult">
        <include refid="selectTranslationVo"/>
        <where>  
            <if test="entityType != null  and entityType != ''"> and entity_type = #{entityType}</if>
            <if test="entityId != null "> and entity_id = #{entityId}</if>
            <if test="locale != null  and locale != ''"> and locale = #{locale}</if>
            <if test="fieldName != null  and fieldName != ''"> and field_name = #{fieldName}</if>
        </where>
        limit 1
    </select>
    
    <select id="selectBatchTranslations" resultMap="GbTranslationResult">
        <include refid="selectTranslationVo"/>
        where entity_type = #{entityType} 
        and locale = #{locale}
        and entity_id in
        <foreach item="entityId" collection="entityIds" open="(" separator="," close=")">
            #{entityId}
        </foreach>
    </select>

    <insert id="insertTranslation" parameterType="GbTranslation" useGeneratedKeys="true" keyProperty="id">
        insert into gb_translations
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="entityType != null">entity_type,</if>
            <if test="entityId != null">entity_id,</if>
            <if test="locale != null">locale,</if>
            <if test="fieldName != null">field_name,</if>
            <if test="fieldValue != null">field_value,</if>
            <if test="createBy != null">create_by,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="entityType != null">#{entityType},</if>
            <if test="entityId != null">#{entityId},</if>
            <if test="locale != null">#{locale},</if>
            <if test="fieldName != null">#{fieldName},</if>
            <if test="fieldValue != null">#{fieldValue},</if>
            <if test="createBy != null">#{createBy},</if>
            now()
         </trim>
    </insert>

    <update id="updateTranslation" parameterType="GbTranslation">
        update gb_translations
        <trim prefix="SET" suffixOverrides=",">
            <if test="entityType != null">entity_type = #{entityType},</if>
            <if test="entityId != null">entity_id = #{entityId},</if>
            <if test="locale != null">locale = #{locale},</if>
            <if test="fieldName != null">field_name = #{fieldName},</if>
            <if test="fieldValue != null">field_value = #{fieldValue},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = now()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTranslationById" parameterType="Long">
        delete from gb_translations where id = #{id}
    </delete>

    <delete id="deleteTranslationByIds" parameterType="String">
        delete from gb_translations where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteFieldTranslation">
        delete from gb_translations
        where entity_type = #{entityType}
          and entity_id = #{entityId}
          and locale = #{locale}
          and field_name = #{fieldName}
    </delete>

</mapper>